*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #f1f5f8;
}
.title__box-heading {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  color: #282c35;
  text-transform: capitalize;
  text-align: center;
  margin: 5rem 0 0.8rem 0;
}
.underline {
  height: 4px;
  background-color: #2caeba;
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}
.tab__section {
  padding: 5rem;
}
.tab__section {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.info__heading {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.tag {
  font-size: 1.5rem;
  background-color: #dae2ec;
  border-radius: 5px;
  color: #324d67;
  font-weight: 700;
  padding: 0.5rem;
  margin-left: 1rem;
}
.dates {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  margin: 1.8rem 0;
  text-transform: capitalize;
}
.list__items {
  font-size: 1.5rem;
  list-style: none;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}
.items {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.items:not(:last-child) {
  margin-bottom: 2rem;
}
.bi {
  color: #2caeba;
}
.toggle__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.btn {
  font-size: 2rem;
  padding: 0.8rem;
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.btn:hover {
  border-left: 2px solid #2caeba;
  color: #2caeba;
}
.active-btn {
  border-left: 2px solid #2caeba;
  color: #2caeba;
}
.main__button {
  text-align: center;
  margin-bottom: 5rem;
}
.primary__btn {
  text-align: center;
  font-size: 2rem;
  width: 17rem;
  height: 3rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  background-color: #2caeba;
  color: #bff8fd;
  transition: all 0.5s;
}
.primary__btn:hover {
  color: #044e53;
  background-color: #88ebf2;
  cursor: pointer;
}
.loading {
  position: absolute;
  font-size: 3rem;
  height: 20rem;
  color: #88ebf2;
  width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
